<div class="contentDialogHeader">
    <a>
        <i class="fas fa-times"></i>
    </a>
</div>
<div class="contentDialogContentBox">
        <br>
        <input id="dialogFileName" class="dark-inp" type="text" placeholder="Name" value="{{name}}">
        <br>
        <input id="dialogFileTags" class="dark-inp" type="text" placeholder="Tags" value="">
        <br>
        <textarea id="dialogFileDesc" class="dark-inp" placeholder="Description">{{desc}}</textarea>
        <div class="tagsBox light-scroll">
            
        </div>
</div>
<div class="contentDialogButtons">
    <button id="dialogCancel" class="dark-inp">Cancel</button>
    <button id="dialogSave" class="dark-inp">Save</button>
</div>