<div id="leftColTopContent">
    <input id="filePath" class="dark-inp" type="text" placeholder="File Path" value="" disabled="disabled">
    <br>
    <input id="fileName" class="dark-inp" type="text" placeholder="Name" value="">
    <br>
    <input id="fileTags" class="dark-inp" type="text" placeholder="Tags" value="">
    <br>
    <textarea id="fileDesc" class="dark-inp" placeholder="Description"></textarea>
    <br>
    <button id="addFileBtn" class="dark-inp">Add File</button>
</div>
<div id="leftColBtn">
    <span>
        <i class="fas fa-chevron-left"></i> &nbsp; Back
    </span>
</div>