{{iconsView}}
<div id="fileInfoBox" class="light-scroll">
    <div>
        <div id="fileInfoImgDiv">
            <img id="fileInfo_picture" src="">
        </div>
        <div id="fileInfoTextDiv">
            <strong>Name:</strong> <span id="fileInfo_name"></span><br>
            <strong>File Type:</strong> <span id="fileInfo_type"></span><br>
            <strong>File Size:</strong> <span id="fileInfo_size"></span><br>
            <strong>Description:</strong> <span id="fileInfo_desc"></span><br>
            <strong>Tags:</strong> <span id="fileInfo_tags"></span>
        </div>
        <div id="buttonBar">
            <a id="maximizeButton">
                <i class="far fa-window-maximize"></i>
            </a>
            <a id="minimizeButton">
                <i class="fas fa-window-minimize"></i>
            </a>
            <a id="closeButton">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
    <div id="filePreview">

    </div>
</div>