<br><br><br>
<button class="dark-inp light-inp" onClick="fileAddPage.selectFile()">
    <i class="fas fa-file-upload"></i> Select File
</button>

<div id="FileCopyLocation">
    <label>
        <strong>Copy File To: </strong>
    </label>
    <input type="text" id="FileCopyLocationText" disabled>
    <button class="light-inp" onClick="fileAddPage.changeFileCopyPath()">Change</button>
</div>

<div id="pathUsingCheckBoxDiv">
    <label>
        <div class="check-dark">
            <input type="checkbox" id="pathUsingCheckBox">
            <div class="box"></div>
        </div>
        <a>Use file path (Intead of keeping a copy of the file)</a>
    </label>
</div>

<div id="relativePathUsingCheckBoxDiv">
    <label>
        <div class="check-dark">
            <input type="checkbox" id="relativePathUsingCheckBox">
            <div class="box"></div>
        </div>
        <a>Use relative path</a>
    </label>
</div>

<div id="selectedFilesInfo">
    <p>
        <strong>Path: </strong> <span id="pathInfo">-</span><br>
        <strong>File Size: </strong> <span id="sizeInfo">-</span><br>
        <strong>Tags: </strong>
    </p>
    <div id="tagsDiv">
    </div>
</div>