<html>
    <head>
        <link rel="stylesheet" href="../Styles/main.css">
        <script>
            window.$ = window.jQuery = require('jquery');
        </script>
        <script src="../JS/main.js"></script>
    </head>
    <body>
        <div id="content">
            <div class="col" id="leftCol">

            </div>
            <div class="col" id="rightCol">

            </div>
        </div>
        <div id="footer">
            <span id="aslanLOL">
                <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by Aslan
            </span>
            <span id="versionAndLic">
                <i class="fas fa-code-branch"></i>
                V 1.0.1
            </span>
        </div>
    </body>
</html>
