<html>
    <head>
        <link rel="stylesheet" href="../Styles/main.css">
        <script>
            window.$ = window.jQuery = require('jquery');
        </script>
        <script src="../JS/main.js"></script>
    </head>
    <body>
        <div id="content">
            <div class="col" id="leftCol">

            </div>
            <div class="col" id="rightCol">

            </div>
        </div>
        <div id="footer">
            <span>
                Programmed with ❤ by Aslan.
            </span>
        </div>
    </body>
</html>
